<div> <%= session[:player_1].name %> vs. <%= session[:player_2].name %> </div>
<div> <%= session[:player_1].name %>: <%= session[:player_1].hit_point %>HP </div>

<div> <%= session[:player_2].name %>: <%= session[:player_2].hit_point %>HP </div>

<form method="get" action="/confirmation">
  <input type="submit" value="Attack">
</form>
